/* MAIN */

main {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

/* HOME CONTENT */

.home-content {
    width: 700px;
}

.home-content-greeting-texts {
    display: flex;
    justify-content: center;
    height: 60px;
    padding-block: 8px;
    overflow: hidden;
}

.home-content-greeting-texts-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    transition: transform 400ms;
    animation: 20s infinite greetings-text-inner-animation;
}

@keyframes greetings-text-inner-animation {
    0%{transform: translateY(0px);}
    19%{transform: translateY(0px);}
    20%{transform: translateY(-60px);}
    39%{transform: translateY(-60px);}
    40%{transform: translateY(-120px);}
    59%{transform: translateY(-120px);}
    60%{transform: translateY(-180px);}
    79%{transform: translateY(-180px);}
    60%{transform: translateY(-240px);}
    79%{transform: translateY(-240px);}
    85%{transform: translateY(0);}
}

.home-content-greeting-text {
    color: white;
    font-family: var(--f-generalsans-light);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1cap;
}