/* MAIN */

main {
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 75px;
}

/* HOME CONTENT */

.home-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.home-content-greeting-texts {
    display: flex;
    justify-content: center;
    height: 60px;
    padding-block: 8px;
    overflow: hidden;
}

.home-content-greeting-texts-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    transition: transform 400ms;
    animation: 20s infinite greetings-text-inner-animation;
}

@keyframes greetings-text-inner-animation {
    0%{transform: translateY(0px);}
    19%{transform: translateY(0px);}
    20%{transform: translateY(-60px);}
    39%{transform: translateY(-60px);}
    40%{transform: translateY(-120px);}
    59%{transform: translateY(-120px);}
    60%{transform: translateY(-180px);}
    79%{transform: translateY(-180px);}
    80%{transform: translateY(-240px);}
    99%{transform: translateY(-240px);}
    100%{transform: translateY(0);}
}

.home-content-greeting-text {
    color: white;
    font-family: var(--f-generalsans-light);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1cap;
}

/* ABOUT ME */

.home-content-about {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.home-content-author {
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 1rem;
    overflow: hidden;
}

/* HOME TOP */

.home-content-author-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #131313;
}

.home-content-author-itself {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.home-content-author-image {
    --img-siz: 45px;
    width: var(--img-siz);
    height: var(--img-siz);
}

.home-content-author-image-itself {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

.home-content-author-info {
    display: flex;
    flex-direction: column;
    font-family: var(--f-generalsans-light);
}

.home-content-author-full-name {
    color: white;
    font-weight: 500;
}

.home-content-author-role {
    color: rgb(114, 114, 114);
    font-family: var(--f-inter);
    font-weight: 400;
}

.home-content-author-contact {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.contact-button {
    padding-inline: 15px;
    height: 40px;
    border-radius: 0.3rem;
    border: 1px solid rgba(255,255,255,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    text-decoration: none;
    transition: border 300ms, background-color 300ms;
}

.contact-button-text {
    color: white;
    font-family: var(--f-generalsans-medium);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.contact-button:hover {
    background-color: rgb(40, 40, 40);
    border: 1px solid rgba(255,255,255,0.2);
}

.contact-button-svg {
    display: none;
    color: white;
    width: 18px;
    height: 18px;
}

.copy-email-button {
    padding-inline: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
    transition: border 300ms;
}

.copy-email-button-svg {
    --svg-size: 16px;
    width: var(--svg-size);
    height: var(--svg-size);
    color: white;
}

.copy-email-button-text {
    color: white;
    font-family: var(--f-generalsans-medium);
    text-transform: uppercase;
}

.copy-email-button:hover {
    border: 1px solid rgba(255,255,255,0.2);
}

/* HOME BOTTOM */

.home-content-author-bottom {
    padding: 15px 25px;
    background-color: rgb(28, 28, 28);
    border-top: 1px solid rgba(255,255,255,0.06);
}

.home-content-author-bottom > p {
    line-height: 25px;
    color: white;
    font-family: var(--f-generalsans-light);
}

/* SERVICES */

.home-content-about-services {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.service {
    height: 65px;
    background-color: #131313;
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 0.8rem;
    cursor: pointer;
    transition: border 300ms;
    overflow: hidden;
    transition: border 300ms, height 300ms;
}

.service-inner {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px 20px;
}

.serice-inner-left {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.serice-inner-left-letter {
    color: rgb(114, 114, 114);
    font-family: var(--f-inter);
}

.serice-inner-left-text {
    color: white;
    font-family: var(--f-generalsans-light);
    font-weight: 100;
}

.service-inner-svg {
    color: rgb(60, 60, 60);
    transition: transform 300ms, color 300ms;
}

.service-text {
    color: white;
    font-family: var(--f-generalsans-light);
    font-weight: 500;
    padding-inline: 25px;
    padding-block: 15px 22px;
}

/* SERVICE JS */

.service-container-hover {
    border: 1px solid rgba(255,255,255,0.1);
}

.service-container-js {
    height: auto;
    border: 1px solid rgba(255,255,255,0.2);
}

.service-container-js > .service-inner > .service-inner-svg {
    color: rgb(114, 114, 114);
    transform: rotateZ(45deg);
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .contact-button-text {
        display: none;
    }
    .contact-button-svg {
        display: unset;
    }
    .contact-button {
        padding-inline: 0;
        width: 40px;
    }
    .home-content-author-contact {
        column-gap: 8px;
    }
}

@media (max-width: 700px) {
    .home-content {
        width: 100%;
    }
    main {
        padding-inline: 20px;
    }
}

@media (max-width: 500px) {
    .home-content-greeting-text {
        font-size: 2.5rem;
    }
    .home-content-greeting-texts-inner {
        row-gap: 30px;
        padding-block: 10px;
    }
    .home-content-author-top,
    .home-content-author-bottom {
        padding: 15px;
    }
}

@media (max-width: 445px) {
    /* .home-content-author-top {
        flex-direction: column;
        row-gap: 20px;
    } */
    .copy-email-button {
        display: none;
    }
}